<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="poke-card.html">
<dom-module id="poke-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Pokedex oficial de polymer</h2>
    <template is="dom-repeat" items="{{pokemons}}">
      <poke-card pokemon="[[item]]" on-click="_capture"></poke-card>
    </template>
  </template>
  <script>
      class PokeList extends Polymer.Element {
        static get properties () {
          return {
            pokemons: {
              type: Array,
              value: [
                {
                  name:"Bulbasaur",
                  type: "plant",
                  icon:"http://pixelartmaker.com/art/3f100623ee8b17c.png",
                  battles: [],
                  captured: false
                },
                {
                  name: 'Ivysaur',
                  icon: 'https://vignette.wikia.nocookie.net/virtuadopt/images/8/86/Ivysaur.png/revision/latest?cb=20111216004637',
                  type: 'poison',
                  battles: [],
                  captured: false
                }
              ]
            }
          }
        }
        static get is () {
          return 'poke-list'
        }
        _capture (event) {
          /*const index = event.model.index
          const path = 'pokemons.' + index + '.captured'
          this.set(path, true)*/
          event.model.set('item.captured', true);
        }
      }
      customElements.define(PokeList.is, PokeList)
    </script>
</dom-module>